<div class="index_intro"><h1>EasyPHP</h1></div>
<div class="index_body center">
	<br />
	<br />
	<br />
</div>

<div class="index_body">
<br />
<strong>Notes on EasyPHP</strong>
<ul>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>

<strong>Some links</strong>
<ul>
	<li>My GIT repository where you will find all the ESP files you need <a href="https://github.com/NeuronTech/wifisensors">ESP Server</a></li>
	<li>WiKi link to download a server <a href="https://en.wikipedia.org/wiki/List_of_Apache%E2%80%93MySQL%E2%80%93PHP_packages">WiKi Page</a></li>
</ul>

</div>