<div class="index_intro">Page = 3</div>
<div class="index_body center">
	<br />The server allows for testing of ESP8266/ESP32 devices in client and server modes directly from your PC.
	<br />To run a server locally you need to install something like WAMPP/XAMPP (or Apache, MySql and php manually).
	<br />Luckily enough we can install all of these program in one go using one the available installers from the WiKi link below.
</div>

<div class="index_body">
<br />
<strong>Installing a Local Server</strong>
<ul>
	<li>It's a good idea to search youtube for a related video so you have some idea of what involved.</li>
	<li><strong>Windows Note!</strong> Avoid installing into "Program Files" or "Program Files (x86)", change it to C:\xampp (for example)... </li>
	<li>Identify the document root folder name, we'll need this later...</li>
	<li>When your happy everything is working move to next section...</li>
</ul>

<strong>Getting the source</strong>
<ul>
	<li>The download includes one folder named <strong><em>esp</em></strong> and a few sketch files...</li>
	<li>Copy the <em>esp</em> folder to your document root folder *(see note below)</li>
</ul>

* Document root path examples for Windows: C:\wamp\www ... C:\easyphp\data\localweb ... C:\xampp\htdocs...
<br /><br />

<strong>Some links</strong>
<ul>
	<li>My GIT repository where you will find all the ESP files you need <a href="https://github.com/NeuronTech/wifisensors">ESP Server</a></li>
	<li>WiKi link to download a server <a href="https://en.wikipedia.org/wiki/List_of_Apache%E2%80%93MySQL%E2%80%93PHP_packages">WiKi Page</a></li>
</ul>
<br /><br />Back to the <a href="index.php">Home</a> page.
</div>